.exhibitors_body {
    margin: 0px;
    width: 100%;
    font-family: 宋体;
}

#exhibitor_manual_page-wrapper {
    width: 100%;
    padding: 0;
    margin-top: 50px;
}

.exhibitor_manual_title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.exhibitor_manual_head {
    background-color: #E0EDFE;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    margin: 0px;
    padding: 4px  4px 4px 4px;
}

.exhibitor_manual_head_title{
    min-height: 50px;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
}

.exhibitors_large_font {
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #015488;
}

.exhibitor_manual_head_buttom {
    background-color: #015488;
    margin: 5px;
    height: 14px;
}


.checkbox_species {
    display: table-cell;
    width: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #005681;
    font-size: 10px;
}

.details_tab_font {
    padding-right: 10px;
    padding-left: 5px;
}

.exhibitor_manual_number {
    color: #005681;
    font-size: 14px;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
}

.exhibitor_manual_content_body {
    border: 5px solid #015488;
    margin: 20px 100px 40px 100px;
    padding: 3px;
    color: #005681;
    font-weight: bold;
}

.exhibitors_cell_center {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    align-items: center;
}

.exhibitors_content_top_head_right_text {
    color: #005681;
    font-size: 14px;
    font-family: 宋体;
    font-weight: bold;
    margin-left: 10px;
}

.exhibitors_row_gray {
    width: 100%;
    display: table-row;
    background-color: #EFEFEF;
    color: #005681;
    font-size: 10px;
    font-weight: bold;
}

.exhibitors_row_white {
    width: 100%;
    display: table-row;
    background-color: #ffffff;
    color: #005681;
    font-size: 10px;
    font-weight: bold;
}

.exhibitros_item_text_left {
    float: left;
    padding: 10px 0px 10px 10px
}

.exhibitros_item_text_right {
    float: right;
    padding: 20px 10px 20px 10px
}

.exhibition_item_left {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    align-items: center;
    width: 140px;
    color: #005681;
    font-weight: bold;
}

.exhibition_blue_text {
    color: #005681;
    font-size: 10px;
    font-weight: bold;
}

.exhibition_red_text {
    color: #F93F5A;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bold;
}

.exhibition_input_column {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.exhibition_blue_text_special{
    color: #000000;
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
}

.exhibition_commit{
    background-color: #077BB1;
    color: #ffffff;
    margin: 40px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.exhibition_content_cancel{
    margin:  40px 0px 40px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #fff8bb;
    color: #ff380e;
    border: 1px solid #F0F0F0;
    font-size: 20px;
}

.exhibition_content_submit{
    margin:  40px 0px 40px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background: #015486;
    border: 1px solid #F0F0F0;
    color: #ffffff;
    font-size: 20px;
}
