.mainpage_nav_content {
    width: auto;
    height: 100%;
    margin-top: 1px;
    border-top: 1px solid #B7B7B5;
    border-right: 1px solid #B7B7B5;
}

.mainpage_nav_content_title {
    background-color: #015486;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    font-family: 宋体;
    font-weight: bold;
}

.mainpage_nav_content_center {
    margin: 1px 8px 1px 8px;
}

.mainpage_nav_content_innertitle {
    background-color: #4490C1;
    padding: 4px;
    height: 26px;
    color: #ffffff;
    font-size: 8px;
    line-height: 20px;
    font-family: 宋体;
    font-weight: bold;
}

.need_to_fillin {
    list-style: none;
    border: 1px solid #4490C1;
    padding: 2px 10px 2px 10px;
    margin-bottom: 2px;
    margin-top: 0px;
    color: #9C9C9C;
}

.need_to_fillin li {
    padding: 2px 10px 2px 10px;
    margin-bottom: 2px;
    color: #9C9C9C;
}

.li_bd {
    background: #F9CE10;
    padding: 0 2px;
}

.text_style {
    font-family: 宋体;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alian_parant_right {
    float: right;
}

.main_content_style {
    padding: 5px 20px 5px 20px;
    height: 100%;
}

.action_tab {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: center;
}

.action_tab li.on {
    background-color: #ffffff;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    color: #B6B6B6;
    text-align: center;
    border-top: 2px solid #0589DC;
}

.main_content_title {
    background: #FFFFE7;
    color: #9B6C1E;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 宋体;
    font-weight: bold;
}

.main_content_details {
    border: 1px solid #2EA7D6;
}

.action_detail {
    background-color: #ffffff;
    padding: 10px;
    list-style: none;
    border: none;
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
}

.action_detail_row {
    display: flex;
    text-align: center;
    font-size: 14px;
    font-family: 宋体;
    font-weight: bold;
    display: inline-block;
    margin: 0 0 -1px;
    font-weight: 600;
    border: 1px solid transparent;
}