.weixin_title{
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
    font-family:"Microsoft YaHei",微软雅黑;
    font-weight: bold;
}

.weixin_content{
    background-color: #ffffff;
}

.weixin_content_code{
    padding: 4px;
}

.weixin_content_text{
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    font-family:"Microsoft YaHei",微软雅黑;
    color: #000000;
}
